<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project.You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bgldbworker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bgldbworker.scm.azurewebsites.net:443</MSDeployServiceURL>
    <ResourceId>/subscriptions/4f8a29d4-3a4e-4bbc-b48e-94a77ace2913/resourcegroups/ItsRunnerBgl/providers/Microsoft.Web/sites/BglDbWorker</ResourceId>
    <DeployIisAppPath>BglDbWorker</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BglDbWorker</UserName>
    <_SavePWD>True</_SavePWD>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <WebJobType>Triggered</WebJobType>
    <WebJobName>ItsRunner.DbWorker</WebJobName>
  </PropertyGroup>
</Project>