@model ItsRunnerBgl.Models.Models.Activity

@{
    ViewData["Title"] = "Chiusura attività";
}

<div id="signalRForm" class="dobox">
    <h4>Sei sicuro di voler chiudere l'attività "@Html.DisplayFor(model => model.Name)"?</h4>
    <div>
        <hr />
        <form asp-action="Close" method="POST" id="FormSend">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Name" />
            <input type="submit" id="submitForm" value="Sì" class="btn btn-default" /> <a class="btn btn-default" asp-action="Index">No</a>
        </form>
    </div>
</div>

@{ await Html.RenderPartialAsync("_SignalRRedirect"); }

@section Scripts {
    <script src="~/lib/signalr/browser/signalr.js"></script>
    <script type="text/javascript">
        var responses = new signalR.HubConnectionBuilder().withUrl("/torunner").build();
        responses.on("SignalRRedirectResponse",
            function (args) {
                window.location.replace('@Url.Action("Index", "ActivityPage")');
            });
        responses.start();

        $("#submitForm").on('click',
            function (e) {
                //stop submit the form, we will post it manually.
                e.preventDefault();

                setFormSend();

                // Get form
                var form = $('#FormSend')[0];
                var data = new FormData(form);

                $.ajax({
                    url: '@Url.Action("Close", "ActivityPage")',
                    data: data,
                    cache: false,
                    contentType: false,
                    //enctype: 'multipart/form-data',
                    processData: false,
                    method: 'POST',
                    success: setFormWait,
                    error: setFormReset
                });
            });
    </script>
}